  <h1>Lista de productos</h1>
    <div id="productContainer">
        <!-- Aquí se mostrarán las tarjetas de productos -->
    </div>
    <button id="refreshBtn">Actualizar Productos</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>