<div>
    <h1>Bienvenido al Chat</h1>
    <h2>Nombre: <span id="myName"></span></h2>

    <div>
        <p>Escribe un mensaje: <input id="chatBox" type="text"></p>

        <button id="sendMessage"> Cerra sala de chat</button>
    </div>

    <div>
        <p id="messageLogs"></p>
    </div>


</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>